.primer-header {
  position: relative;
  background-image: linear-gradient(to bottom left,#14572A,#00923F);
  color: #666;
  max-width: 100%;
  height: 85px;
}

.img-logo {
  position: relative;
  left:10%;
  top:7px;
  width: 400px;
}

.navbar-brand {
  }
