*{
    margin: 0px;
    padding: 0px;
}

body
{
    min-width: 388px;
    background-color: #f8f8f8ff !important;
}

@font-face {
  font-family: 'Lato';
  src: url({% static 'fonts/Lato-Light.ttf' %}) format('ttf');
  font-style: light;
  font-weight: normal;
}


@media screen and (max-width: 864px){
    .green-area{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: #008000ff;
        height: 71px;
        width:100%;
    }
    
    .green-area-logo{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
   
    #logo-facea{
        height: 50px;
        margin-bottom: 9px;
        margin-top: 15px;
        margin-right: 84px;
    }
    /*
    .container-login{
        margin-left: 40px;
        width:329px;
    }*/
    #logo-udenar{
        margin-bottom: 30px;
        margin-top: 50px;
        margin-right: 84px;
    }
    .login-area{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 80vh;
        background-color: #f8f8f8ff;
        margin: 25px;
    }
    
    .text-login{
      font-family: Lato;
      color: #9ca4aa;
      font-size: 15pt;
      margin-bottom: 25px;
    }
    
    
    footer{
        height: 242px;
        background: #383838ff;
        width: 100%;
    }
}
